*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_tb{
    width: 100%;
    height: 100px;
}
.bg_nav{
    background-color: #2C3E50;
}
.bg_jumbotron{
    background-color: #1ABC9C;
    
}

.line{
    height: 3px;
    width: 60px;
    background-color: black;
}
.fa-solid{
    font-size: 25px;
}
p{
    font-size: 1.3rem;
}
footer{
    background-color: #3A546D;
    width: 100%;
    height: 50vh;
}
.img-wrapper{
    position: relative;
}
.img-wrapper:hover .cs-layover{
    background-color: rgb(26, 155, 156, 0.7);
}
.img-wrapper:hover .cs-layover i.fa-plus{
    display: block;
}
.cs-layover{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cs-layover i.fa-plus{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    color: white;
    cursor: pointer;
}
.cs-wrapper{
    width: 60%;
    margin: 0 auto;
}
.border_bottom{
    border-bottom: 1px solid lightgray;
}
.middle-brands{
    font-size: 20px;
    padding: 15px 15px;
    border: 1px solid white;
    border-radius: 50%;
}
.side-brands{
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid white;
}